// **************************************
// FONT MAPS
// **************************************
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Work+Sans:wght@100;300;700&display=swap");

$font-love: (
  size: (
    main: 1rem,
  ),
  weight: (
    main: 400,
  ),
  font: (
    main: "Work Sans",
    secondary: "Open Sans",
  ),
  l-height: (
    main: 1.5,
  ),
);
