// **************************************
// BUTTON STYLES
// **************************************
@use '../utilities' as *;
//button styles for project card overlay
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn__overlay--full {
	@extend %btn-properties;
	background-color: $white;
	color: $color-main;
	-webkit-appearance: none;
	@include mq('md') {
	}
}

.btn__overlay--outline {
	@extend %btn-properties;
	color: $white;
	background: transparent;
	border-color: $white;
	@include mq('md') {
	}
}
