// **************************************
// FOOTER STYLES
// **************************************

//footer layout style
#footer{
    @include flex_me($just:center, $vertAlign:center);
}

//footer content styles
#footer address{
    text-transform: uppercase;
}