// **************************************
// IMAGE STYLES
// **************************************
@use '../utilities' as *;

//Avatar image styling for reviews
.img__person {
	@include roundy($dim: 125px, $border: 1px solid $color-border-dark);
}

// main nav SVG icons to the left of the links
.nav__icon {
	width: 25px;
	height: 25px;
	padding-bottom: 5px;
	@include mq('md') {
		width: 30px;
		height: 30px;
		padding-right: 5px;	
		padding-bottom: 0px;
	}
}

.icon__header--container {
	@include flex_me($just: center);
}

.form__icons--header {
	width: auto;
	height: 6em;
	margin: 0 auto;
	fill: $white;
	transition: fill 0.3s ease-out;
	@include mq('md') {
		height: 8em;
	}
	&:hover {
		fill: $color-accent;
		transition: fill 0.3s ease-in;
	}
}

.form__icons {
	color: $white;
	margin-right: 1em;
}
