// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;
//h1 styles
.title__primary {
  @include text-prop($size: clamp(1.28rem, 6vw, 2.5rem), $f-weight: 200);
  @extend %text-modules;
  text-align: center;
}

//h2 styles
.title__secondary {
  @include text-prop($size: 1.5em, $f-weight: 500);
  @extend %text-modules;
  @include mq("md") {
    @include text-prop($size: 1.3em, $l-height: 1.5);
  }
  @include mq("lg") {
    @include text-prop($size: 1.6em);
  }
}

//h3 Styles

.title__tertiary {
  @include text-prop($size: 1.4em);
}

/*----CONTEXT STYLES----*/

//content styles
.content {
  padding: 0.5px;
  &__header {
    color: var(--clr-bg-light);
    @include mq("md") {
      color: var(--clr-bg-dark);
    }
  }

  &__form {
    text-align: center;
    @include text-prop($size: clamp(0.7rem, 3vw, 1.2rem), $f-weight: 400);
    margin-bottom: 0.5rem;
    line-height: 1.5;
    color: #fff;
  }
}

// link styles
.link__text {
  @include text-prop($size: 0.5rem, $f-weight: 500);
  @include mq("md") {
    @include text-prop($size: 0.95em, $f-weight: 500);
  }
}
