// **************************************
// Placeholders
// **************************************
@use './variables' as v;
@use './mixins' as *;

%nav-link{
    text-decoration: none;
    color: v.$color-main;
}

%ctr-img{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

%psuedo-sec-title{
    color: v.$white; 
    font-size: 2em;
    position: relative;
    top: 5px;
    @include mq ('md'){
        top: 8px;  
    }
}
%psuedo-sec-title-1{
    color: v.$color-accent;
    font-size: 2em;
    position: relative;
    top: 5px;
    @include mq ('md'){
        top: 8px;  
    }
}

%text-modules{
    letter-spacing: 1px;
    word-spacing: .5px;
    text-transform: uppercase;
}

%btn-properties{
    outline: none;
    border: 3px solid v.$color-main;
    border-radius: 5px;
    color: v.$white;
    letter-spacing: 1px;
    background: v.$color-main;
    text-transform: uppercase; 
    font-size: 1em;
    font-weight: 600;
    padding: .8em;
    
}
