// **************************************
// BASE STYLES
// **************************************

@use '../utilities/variables' as u;
*,
*::before,
*::after {
	box-sizing: border-box;
	// background: #000 !important;
	// color: #0f0 !important;
	// outline: solid #f00 1px !important;
}
html,
body,
#root {
	height: 100%;
}

body {
	font-family: u.$font-stack-open-sans;
	line-height: 1;
	font-size: 1rem;
}

p {
	color: u.$color-text-dark;
}

a {
	display: inline-block;
	padding: 0.6em;
	text-decoration: underline #fff;
}

header {
	background-color: u.$color-secondary;
}

nav {
	background-color: coral;
}

footer {
	height: u.$footer-height;
	background: u.$color-bg-darkest;
	color: u.$color-text-light;
}

/*-----HEADINGS------*/
h1,
h2,
h3,
h4,
h6 {
	font-family: u.$font-stack-work-sans;
}
