// **************************************
// BASE STYLES
// **************************************

@use '../utilities/variables' as u;
*{
    box-sizing: border-box;
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
}

body{
    font-family: u.$font-stack-montserrat;
	line-height: 1;
	font-size: 1rem;
}

p{
    color: u.$color-text-dark;
}

a{
    display: inline-block;
    padding: .6em;
}

footer{
    height: u.$footer-height;
    background: u.$color-bg-darkest;
    color: u.$color-text-light;
}

/*-----HEADINGS------*/
h1,
h2,
h3,
h4,
h6{
    font-family: u.$font-stack-bangers;
}
