@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

.section__form {
	height: 100vh;
	@include flex_me($vertAlign: center, $just: center);
	padding: 0 1em;
	background-image: linear-gradient(to right, $color-main 50%, $color-bg);
	color: $white;
}

.header__form {
	color: $white;
	h2 {
		text-transform: uppercase;
		font-size: 1.8rem;
		font-weight: 100;
		margin: 1rem 0;
		letter-spacing: 1.5px;
		text-align: center;
	}

	p {
		margin-bottom: 0.5rem;
    	line-height: 1.5;
    	color: #fff;
    	font-size: .8rem;
		@include mq('md') {
			font-size: 1rem;
		}
	}
}

fieldset {
	padding: 0;
}

.flex__form {
	@include flex_me($dir: column);
	button {
		border-color: $color-accent;
		outline: none;
		transition: all 0.3s ease-out;
		&:hover {
			background-color: $color-accent;
			color: $white;
			transition: all 0.3s ease-in;
		}
	}
}

.form__field {
	position: relative;
	width: 85%;
	left: 6%;
	label {
		position: absolute;
		top: 0;
		left: 2.6rem;
		color: $white;
		top: 2rem;
		cursor: text;
		transition: top 200ms ease-in, left 200ms ease-in;
		background-color: $color-main;
	}
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ label {
	top: 1rem;
	font-size: 0.8em;
}

input[type='email'],
input[type='password'] {
	border-radius: 5px;
	height: 2em;
	margin-top: 1.5em;
	width: inherit;
	outline: none;
	border: 2px solid $white;
	background: transparent;
	color: white;
	font-family: inherit;
	&:hover,
	&:focus {
		border-color: $color-accent;
	}
}

input[type='checkbox'] {
	width: auto;
	height: auto;
	margin-right: 0.3em;
	accent-color: $color-accent;
}

.flex__checkbox {
	@include flex_me($just: space-between);
	margin: 1em 0;
	color: $white;
	div {
		@include flex_me($vertAlign: center);
	}
	span, a {
		font-size: .8rem;
		@include mq ('md') {
			font-size: 1rem;
		}
	}
	a {
		color: $white;
		text-decoration: underline $color-accent;
	}
}
