// **************************************
// NAVIGATION STYLES
// **************************************
@use "../utilities" as *;

/*-----Main nav styles-----*/
.css-16lloyr-MuiBottomNavigation-root {
  background: linear-gradient(to right, #4f0322, #0a0908) !important;
}

// Navigation bar will slide in from the left when user clicks
.nav__sidebar--container {
}

// Navigation Header Where logo and close btn are located
.nav__header--container {
}

.nav__title {
  color: $color-accent;
  text-align: center;
  padding-bottom: .8rem;
  @include mq("md") {
    font-size: 1.5rem;
  }
  @include mq("lg") {
    font-size: 1.1rem;
  }
}

.nav__name {
  color: $color-accent;
  font-size: 0.8rem;
  padding-bottom: 5px;
  @include mq("md") {
    font-size: 1rem;
  }
  @include mq("lg") {
    font-size: 1.1rem;
  }
}

.nav__role {
  color: $white;
  font-size: 0.7rem;
  @include mq("md") {
    font-size: .9rem;
  }
  @include mq("lg") {
    font-size: 1rem;
  }
}

#filter-svg {
  display: none;
}

//main nav <ul> styles
.nav__wrapper {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 80px;
  border-radius: 20px;
  filter: url("#goo");
  @include mq("md") {
    @include flex_me($dir: column, $just: flex-start);
    position: absolute;
    top: 20%;
  }
}

//main nav <li> styles
.nav__item {
  @include flex_me($vertAlign: center);
  padding: 0.5rem 0;
}

.nav__indicator {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: linear-gradient(to right, $color-main , $color-bg);
  position: absolute;
  top: -30px;
  // left: calc(300px - 170px);
  z-index: -1;
  transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav__link,
.nav__link--active {
  @include flex_me($dir: column, $vertAlign: center);
}

// <a> link styles
.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  transition: color 0.5s;
  &:link {
    color: $color-link-active;
  }
  &:visited {
    color: $color-accent;
  }
  &:focus {
    color: $white;
  }
  &:hover {
    color: $white;
    text-decoration: underline;
  }
  &:active {
    color: $color-main;
  }
  &--active {
    transform: translateY(-60%);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .title{
      display: block;
    }
 }
 
  @include mq("md") {
    @include flex_me($dir: row);
  }
}
