// **************************************
// NAVIGATION STYLES
// **************************************
@use '../utilities' as *;

/*-----Main nav styles-----*/

// Navigation bar will slide in from the left when user clicks
.nav__sidebar--container{

  }

// Navigation Header Where logo and close btn are located
  .nav__header--container{
   text-align: center;
   padding-top: 1rem;
  }

.nav__title{
  color: $color-accent;
 text-align: center;
 @include mq('md') {
  font-size: 1.3rem;
}
 @include mq('lg') {
  font-size: 1.1rem;
}
}

.nav__name {
  color: $color-accent;
  font-size: .8rem;
  padding-bottom: 5px;
  @include mq('md') {
    font-size: 1.3rem;
  }
  @include mq('lg') {
    font-size: 1.1rem;
  }
}

.nav__role {
  color: $white;
  font-size: .7rem;
  text-align: center;
  @include mq('md') {
    font-size: 1.1rem;
  }
  @include mq('lg') {
    font-size: .9rem;
  }
}

//main nav <ul> styles
.nav__wrapper{
  position: absolute;
  top: 25%;
}

//main nav <li> styles
.nav__item{
    @include flex_me( $vertAlign: center );
    padding-bottom: 1rem;
}

// <a> link styles
.nav__link{
    text-transform: uppercase;
    text-decoration: none;
    color: $white ;
    transition: color .5s;
    padding-left: 5px;
    &:active, &:focus{

        color: $color-link-active ;
        }
    &:hover, &:visited{
        color: $color-link-hover;

        text-decoration: none;
        }
        @include mq('md') {
          padding-left: 5px;
        }
}
